.Sayo{
    width: 100%;
    height: 100%;
    // background-color: rgb(250, 245, 238);
    
}
.title {
    width: 100%;
    // margin: 2%;
}
.DetailTitle{
    // width: 98%;
    margin: 20px;
    border-bottom: 1px solid black;
    h2{
        margin-top: 20px;
    }
    h5{
        margin: 3%;
    }

}

.myPart{
    font-size: 15px;
    margin: 10px;
    height: 10%;

}

.desktopImg{
   h4{
       margin: 20px;
   }
    img{
        width: 40%;
        height: 20%;
        @media (max-width:1080px) {
           width: 80%;
         }
    }
    span {
        font-size: 14px;
    }
}
.Pic1{
    margin: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(254, 248, 227);
    // border-top-right-radius: 20%;
    // border-bottom-right-radius: 20%;
    span {
        margin-left: 20px;
        @media (max-width:1080px) {
            margin: 30px;
        }
    }
    @media (max-width:1080px) {
        display: flex;
        flex-direction: column;
    }
    .pageName{
        font-size: large;
        font-weight: 900;
    }
}
.Pic2{
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    @media (max-width:1080px) {
        display: flex;
        flex-direction: column-reverse;
    }
    span{
        margin-right: 30px;
        @media (max-width:1080px) {
          margin: 30px;
        }
    }
    .pageName{
    font-size: large;
}
}
.Pro2Pic1{
    @extend .Pic1;
    background-color: white
    
}

.Pro2Pic2{
    @extend .Pic2;
    background-color: #e0dfdf;
    justify-content: space-around;
}

.Pro1Pic1{
    @extend .Pic1;
    background-color: white
    
}

.Pro1Pic2{
    @extend .Pic2;
    background-color: #58b1f55b;
    justify-content: space-around;
}

.mobileImgs{
    margin-top: 50px;
    h4{
        margin: 20px;
    }
}
.mobileImg{
    background-color: rgb(254, 248, 227);
    border-end-end-radius: 30%;
    border-top-right-radius: 30%;
    display: flex;
    @media (max-width:700px) {
        flex-wrap: wrap;
        font-size: 1rem;
    }
    
    img{
        width: 20%;
        height: 20%;
        margin: 20px;
    }
    span{
        font-size: 1rem;
        display: flex;
        align-items: center;
        @media (max-width:1080px) {
            font-size: 0.5rem;
        }
    }
}

.pro2MobileImg{
    @extend .mobileImg;
    background-color: #4BA6B2;
    color: white;
    img{
        margin: 1px;
    }
    
}
.quizImg{
    // @extend .mobileImg;
    width: 100%;
    background-color: #fdffff;
    color: white;
    img{
        margin: 12px;
        width: 15%;
    }
    
}
.Timer{
    @extend .Pro1Pic1;
    width: 97%;
    background-color: #58b1f5a0;
    color: white;
    img{
        margin: 12px;
        width: 15%;
    }
    
}
.MoviePic1{
    @extend .Pro2Pic2;
    background-color: white;
    div{
        margin-left: 20px;
    }
    img{
        width: 20%;
    }
    
}
.detail{
    margin: 20px;
    font-size: 1em;
}

.quiz{
    @extend .Timer;
    background-color: #8ca891;

}